@import "@/styles/variables.scss";

.list {
  display: flex;
  flex-direction: column;
  gap: 35px;
  .item {
    display: flex;
    gap: 10px;
    .avatar {
      width: 65px;
      height: 65px;
      border-radius: 50%;
    }
    .user {
      display: flex;
      flex-direction: column;
      gap: 5px;
      .test {
        display: flex;
        gap: 15px;
      }
      .username {
        color: $color-primary;
      }

      .description {
        color: rgb(255, 255, 255);
      }
    }
  }
}
